.benefits {
  background-color: #fff;
  padding-bottom: 100px;
  @media (max-width: 1023px) {
    padding-bottom: 67px;
  }
}

.benefits__wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  top: -390px;
  margin-bottom: -390px;
  @media (max-width: 1023px) {
    top: -284px;
    margin-bottom: -285px;
  }
}

.benefits__head {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 32px;
  color: #fff;
  max-width: 616px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 70px;
  @media (max-width: 1023px) {
    margin-bottom: 40px;
  }
}

.benefits__subtitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  @media (max-width: 1023px) {
    font-size: 16px;
    line-height: 24px;
  }
}

.benefits__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 70px;
  @media (max-width: 1023px) {
    display: flex;
    flex-direction: column;
  }
}

.benefits__item {
  color: var(--color-black);
}

.benefits__pic {
  position: relative;
  img {
    width: 100%;
    filter: grayscale(1);
    transition: 1s;
    @media (max-width: 1023px) {
      filter: grayscale(0);
    }
  }

  margin-bottom: 14px;
  &:hover {
    img {
      filter: grayscale(0);
    }
  }
  @media (max-width: 1023px) {
    margin-bottom: 12px;
  }
}

.benefits__pic:hover .benefits__text {
  // display: block;
  opacity: 1;
  transition: 1s;
  visibility: visible;
}

.benefits__name {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  @media (max-width: 1023px) {
    font-size: 18px;
    text-align: left;
    margin-bottom: 12px;
  }
}

.benefits__text {
  position: absolute;
  color: #fff;
  bottom: 0;
  left: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 14px;
  //   display: none;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  @media (max-width: 1023px) {
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 8px;
  }
  &--mobile {
    display: none;
    @media (max-width: 1023px) {
      display: block;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      position: static;
      color: var(--color-black);
      visibility: visible;
      opacity: 1;
      text-align: left;
      line-height: 20px;
      &.show {
        -webkit-line-clamp: 100;
      }
    }
  }
}

.benefits__item-btn {
  font-size: 14px;
  font-weight: 500;
  font-family: Inter;
  color: #5158ed;
  padding: 0;
  @media (min-width: 768px) {
    display: none;
  }
}

.benefits__items-btn {
  margin-left: auto;
  margin-right: auto;
  padding: 0 71px;
  font-size: 22px;
  @media (max-width: 1023px) {
    font-size: 14px;
    width: 100%;
    height: 52px;
  }
}
