.catalog__head {
  background-color: #f1efe8;
  .container {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 40px;
    padding-top: 54px;
    padding-bottom: 48px;
    @media (max-width: 767px) {
      flex-direction: column;
      gap: 20px;
      align-items: flex-start;
      padding-top: 20px;
    }
  }

}

.catalof__wrap {
  .pagination {
    @media(max-width: 767px) {
      display: flex;
    }
  }
}

.catalog__head-block {
  display: flex;
  flex-direction: column;
  gap: 8px;
  &:first-child {
  @media(max-width: 1600px) {
    flex:1 0 auto;
    width: 100%;
  }}
  @media (max-width: 767px) {
    width: 100%;
  }
  &--d {
    .btn {
      height: 60px;
      min-width: 175px;
      font-size: 20px;
      text-transform: none;
    }
    @media (max-width: 768px) {
      display: none;
    }
  }
  .breadcrumbs {
    margin-top: 0;
  }
}

.catalog__head-block-title {
  font-size: 20px;
  font-weight: 500;
  @media (max-width: 767px) {
    font-size: 16px;
  }
}

.catalog__head-btns {
  @media (min-width: 768px) {
    display: none;
  }
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 4px;
  .btn {
    height: 44px;
    &:first-child {
      border: 1px solid var(--color-black);
      background-color: transparent;
    }
  }
}

.catalog__body {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 80px 0;
  @media (max-width: 767px) {
    padding: 24px 0;
    gap: 48px;
  }
}

.catalog__row {
  display: grid;
  grid-template-columns: 320px 1fr;
  gap: 60px;
  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
  }
}

.catalog__pic {
  position: relative;
  img {
    @media (max-width: 767px) {
      height: 280px;
      object-fit: cover;
    }
  }
}

.catalog__pic-label {
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: var(--color-blue);
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  height: 34px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  @media (max-width: 767px) {
    font-size: 12px;
    padding: 0 8px;
    height: 24px;
    left: 8px;
    top: 8px;
  }
}

.catalog__char {
  @media (max-width: 767px) {
    order: 1;
  }
}

.catalog__char-title {
  display: block;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  @media (max-width: 767px) {
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.catalog__char-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 0;
  margin-bottom: 30px;
  li {
    display: flex;
    flex-direction: column;
    span {
      &:first-child {
        font-size: 16px;
        font-weight: 500;
        color: #a4a3a3;
        text-transform: uppercase;
      }
      &:last-child {
        font-size: 20px;
        font-weight: 400;
      }
    }
  }
  @media (max-width: 767px) {
    display: none;
  }
}

.catalog__char-list-min-items {
  margin-bottom: 16px;
}

.catalog__char-list-min {
  .btn {
    background-color: transparent;
    border: 1px solid var(--color-yellow);
    height: 36px;
    padding: 0 12px;
  }
  @media (min-width: 768px) {
    display: none;
  }
}

.catalog__char-list-min-items {
  display: flex;
  gap: 8px;
  font-size: 16px;
  font-weight: 400;
}

.catalog__slider {
  min-width: 0;
  position: relative;
  .swiper-button-prev,
  .swiper-button-next {
    opacity: 0;
    transition: all 0.3s ease;
    @media (max-width: 767px) {
      display: none;
    }
  }
  .swiper-pagination {
    top: 100%;
    @media (min-width: 768px) {
      display: none;
    }
  }
  .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    border-radius: 0;
    background-color: #e8e8e8;
    opacity: 1;
    &-active {
      background-color: var(--color-yellow);
    }
  }
  &:hover {
    .swiper-button-prev,
    .swiper-button-next {
      opacity: 1;
      transition: all 0.3s ease;
    }
    .swiper-button-disabled {
      opacity: 0.35;
    }
  }
}

.catalog__char-pic {
  @media (max-width: 767px) {
    display: none;
  }
}
