.custom-select-option {
  // color: #fff;
}
.custom-select-option.is-selected::before {
  display: none;
}

.custom-select-container {
  min-width: 110px;
  text-align: center;
  &.is-open {
    .custom-select-panel {
      padding: 12px;
      overflow: visible;
      &::after {
        content: "";
        position: absolute;
        bottom: calc(100%);
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 12px solid #fff;
      }
    }
  }
  @media (max-width: 767px) {
    min-width: auto;
  }
}

.custom-select-panel {
  transition: none;
  top: calc(100% + 20px);
  background-color: #fff;
  z-index: 10;
}

.footer {
  .custom-select-panel {
    @media (max-width: 767px) {
      width: auto;
    }
  }
}

.header--light .custom-select-opener, .header--light-2 .custom-select-opener {
  span::after {
    background-image: url("../images/arrow-down-black.svg");
  }
}

.custom-select-opener {
  background-color: transparent;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  padding: 0;
  span {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: calc(100% + 8px);
      top: 50%;
      transform: translateY(-50%);
      background-image: url("../images/arrow-down.svg");
      width: 24px;
      height: 24px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  @media (max-width: 1500px) {
    font-size: 18px;
  }
  @media (max-width: 767px) {
    font-size: 16px;
  }
}

.custom-select-opener[aria-expanded="true"] {
  span::after {
    transform: translateY(-50%) rotate(180deg);
  }
}

.custom-select-option {
  font-size: 20px;
  color: #000;
  cursor: pointer;
  &.has-focus {
    background-color: var(--color-yellow-02);
  }
  @media (max-width: 1500px) {
    font-size: 18px;
  }
}

.custom-select-option.is-selected {
  background-color: var(--color-yellow);
}
