.faq {
  padding-bottom: 138px;
  margin-top: 120px;
  @media (max-width: 767px) {
    padding: 24px 0;
    margin-top: 56px;
  }
}

.faq__wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 52px;
  align-items: flex-start;
  margin-bottom: 65px;
  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

.faq__title {
  margin-bottom: 40px;
  @media(max-width: 767px) {
    margin-bottom: 24px;
  }
}

.faq__footer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.faq__footer-title {
  font-size: 20px;
  font-weight: 500;
  @media(max-width: 767px) {
    font-size: 16px;
  }
}

.faq__footer-text {
  display: flex;

  p {
    font-size: 16px;
    font-weight: 400;
    color: #767574;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &.show {
      white-space: wrap;
      overflow: visible;
      text-overflow: normal;
    }
    @media(max-width: 767px) {
      font-size: 14px;
    }
  }
}
