.header {
    z-index: 10;
    position: relative;
    color: #fff;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.59) 0%,
        rgba(0, 0, 0, 0.29) 65.5%,
        rgba(0, 0, 0, 0) 100%
    );
    padding-top: 20px;
    &--light {
        color: var(--color-base);
        background: none;
        .lang__current {
            color: #000;
            &::after {
                background-image: url(../images/arrow-down-black.svg);
            }
        }
    }
    &--light-2 {
        color: var(--color-base);
        background: #f1efe8;
        .lang__current {
            color: #000;
            &::after {
                background-image: url(../images/arrow-down-black.svg);
            }
        }
    }
}

.header__body {
    max-width: 1800px;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    margin-left: auto;
    margin-right: auto;
}

.header__wrap {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.header__burger {
    margin-left: auto;
    @media (min-width: 1440px) {
        display: none;
    }
}

.header__main {
    display: flex;
    align-items: center;
    width: 100%;

    @media (max-width: 1440px) {
        position: fixed;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        background-color: var(--color-base);
        color: #fff;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        display: none;
        .main-menu {
            flex-direction: column;
            gap: 20px;
            a {
                font-size: 24px;
            }
        }
        .header__side {
            align-items: flex-start;
            flex-direction: column;
            margin-top: auto;
            gap: 12px;
            margin-left: 0;
            width: 100%;
            .header__tel {
                font-size: 24px;
            }
            .btn {
                width: 100%;
                height: 48px;
                font-size: 16px;
            }
        }
    }
    &.show {
        display: flex;
    }
    .customSelect {
        @media (max-width: 1440px) {
            display: none;
        }
    }
}

.header__logo {
    margin-right: 60px;
    max-width: 250px;
    width: 100%;
    @media (max-width: 1500px) {
        max-width: 200px;
    }
    @media (max-width: 767px) {
        max-width: 127px;
    }
}

.header__side {
    margin-left: auto;
    display: flex;
    align-items: center;
    @media (max-width: 1440px) {
        margin-bottom: 12px;
    }
}

.header__tel {
    margin-right: 30px;
    font-size: 20px;
    @media (max-width: 1500px) {
        font-size: 18px;
    }
}

.header__btn {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    border: 1px solid var(--color-yellow);
    height: 57px;
    padding: 0 16px;
}

.header-menu-wrap {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    height: 44px;
    align-items: center;
    margin-bottom: 20px;
    z-index: 1000;
    position: relative;
    @media (min-width: 1439px) {
        display: none;
    }
}
