.lang {
    position: relative;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    color: #000;
    margin-left: 31px;
    z-index: 100;
    @media (max-width: 767px) {
        display: none;
        margin-left: 0;
    }
    &--footer {
        @media (max-width: 767px) {
            display: block;
            font-size: 16px;
            font-weight: 500;
        }
    }
}

.lang__current {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;
    &::after {
        content: "";
        position: absolute;
        left: calc(100% + 8px);
        top: 50%;
        transform: translateY(-50%);
        background-image: url("../images/arrow-down.svg");
        width: 24px;
        height: 24px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    &.active {
        &::after {
            transform: translateY(-50%) rotate(180deg);
        }
    }
}

.lang__list {
    position: relative;
    padding: 12px;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: calc(100% + 20px);
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.3s ease;

    &::after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 12px solid #fff;
    }
    &.show {
        opacity: 1;
        transition: opacity 0.3s ease;
        visibility: visible;
    }
    @media (max-width: 767px) {
        left: 0;
        transform: translateX(0);
    }
}

// .lang__item {
//     input {
//         position: absolute;
//         visibility: hidden;
//         z-index: -1;
//         & + label {
//             width: 86px;
//             height: 40px;
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             cursor: pointer;
//             @media (max-width: 767px) {
//                 width: 41px;
//                 height: 40px;
//             }
//         }
//         &:checked + label {
//             background-color: var(--color-yellow);
//         }
//     }
  
// }

.lang__item {
    span {
        width: 86px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        @media (max-width: 767px) {
            width: 41px;
            height: 40px;
        }
    }
      &:hover {
        background-color: var(--color-yellow-02);
    }
    &.active {
        background-color: var(--color-yellow);
    }
}
