.main-block {
  // position: relative;
  background-image: url("../images/back1.png");
  background-size: cover;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1;
  &::after {
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 204px;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
    z-index: 1;
  }
}

.banner-slider {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  .swiper-slide {
    height: 868px;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @media(max-width: 767px) {
      height: 568px;
    }
  }
}

.main-block__video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#playVideo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 47px;
  height: 47px;
  background-image: url("../images/play.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;
  span {
    position: absolute;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #fff;
    top: calc(100% + 4px);
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
  }
  @media (max-width: 767px) {
    width: 32px;
    height: 32px;
  }
}

.main-block__wrap {
  display: flex;
  flex-direction: column;
  min-height: 868px;
  @media (max-width: 767px) {
    min-height: 568px;
  }
}

.main-block__slider {
  max-width: 667px;
  width: calc(100% - 48px);
  background-color: rgba(27, 25, 24, 1);
  padding: 60px;
  // margin-left: 0;
  // margin-top: auto;
  // margin-bottom: -96px;
  bottom: -94px;
  position: absolute;
  z-index: 2;
  @media (max-width: 767px) {
    padding: 32px 24px;
    bottom: -377px;
  }
  .swiper-slide {
    padding: 0 5px;
  }
  .swiper-pagination {
    display: flex;
    justify-content: flex-end;
    z-index: 0;
    .swiper-pagination-bullet {
      width: 14px;
      height: 14px;
      border-radius: 0;
      background-color: #fff;
      margin: 0 7px;
      opacity: 1;
      &-active {
        background-color: var(--color-yellow);
      }
      @media (max-width: 767px) {
        width: 6px;
        height: 6px;
      }
    }
    @media (max-width: 767px) {
      display: flex;
      justify-content: center;
    }
  }
  .swiper-slide {
    @media (max-width: 767px) {
      padding-bottom: 38px;
    }
  }
}

.main-block__slider-title {
  font-size: 72px;
  font-weight: 400;
  line-height: 93.6px;
  margin-bottom: 12px;
  color: #fff;
  @media (max-width: 767px) {
    font-size: 32px;
    line-height: 1;
  }
}

.main-block__slider-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #fff;
  margin-bottom: 32px;
  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 22px;
  }
}

.main-block__slider-btn {
  position: relative;
  height: 57px;
  background-color: var(--color-yellow);
  color: var(--color-black);
  text-transform: uppercase;
  padding: 0 16px;
  font-size: 22px;
  font-weight: 500;
  z-index: 10;
  @media (max-width: 767px) {
    font-size: 14px;
    height: 52px;
    width: 100%;
    color: #000;
  }
}
