.news {
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  // padding-top: 290px;
  padding-bottom: 60px;
  &--article {
    background-color: #f1efe8;
    padding-top: 60px;
    .news__slider::before {
      background-color: #f1efe8;
    }
    @media (max-width: 767px) {
      padding-top: 24px;
      padding-bottom: 50px;
    }
  }
}

.news__wrap--article {
  position: relative;
  @media (max-width: 767px) {
    padding-bottom: 76px;
    .news__head-btn {
      position: absolute;
      bottom: 0;
      width: 100%;
      left: 0;
    }
  }
}

.news__head {
  display: flex;
  gap: 24px;
  margin-bottom: 40px;
  @media (max-width: 767px) {
    justify-content: space-between;
    margin-bottom: 20px;
  }
}

.news__slider {
  position: relative;
  overflow: visible;
  .swiper-slide {
    width: 600px;
    // width: 50% + 50vw;
    @media (max-width: 767px) {
      width: 308px;
    }
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 10;
  }
  &--article {
    .swiper-wrapper {
      @media (max-width: 767px) {
        display: flex;
        flex-direction: column;
        gap: 40px;
      }
    }
    .swiper-slide {
      @media (max-width: 767px) {
        width: 100%;
      }
    }
  }
}

.news__slide-pic {
  position: relative;
  &:hover {
    .btn-heart, .btn-share {
      opacity: 1;
      transition: all 0.3s ease;
    }
  }
}

.news__slide-pic {
  margin-bottom: 20px;
  @media (max-width: 767px) {
    margin-bottom: 12px;
  }
}

.news__slide-name {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
  @media (max-width: 767px) {
    font-size: 18px;
    line-height: 24px;
  }
}

.news__slide-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  @media (max-width: 767px) {
    font-size: 14px;
    line-height: 1.5;
  }
}

// .news__slide-btns {
//   display: flex;
//   flex-direction: column;
//   gap: 12px;
//   position: absolute;
//   top: 20px;
//   right: 20px;
//   button {
//     width: 56px;
//     height: 56px;
//     border: 1px solid rgba(255, 255, 255, 0.06);
//     background: rgba(255, 255, 255, 0.1);
//     backdrop-filter: blur(4px);
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     @media (max-width: 767px) {
//       width: 40px;
//       height: 40px;
//     }
//   }
//   @media (max-width: 767px) {
//     opacity: 1;
//     right: 14px;
//     top: 14px;
//   }
// }

// .news__slide-label {
//   display: flex;
//   gap: 8px;
//   position: absolute;
//   bottom: 20px;
//   left: 20px;
//   @media (max-width: 767px) {
//     bottom: 14px;
//     left: 14px;
//   }
// }

// .news__slide-label-item {
//   font-size: 16px;
//   font-weight: 700;
//   color: #fff;
//   height: 32px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   padding: 0 12px;
//   &--first {
//     background-color: var(--color-blue);
//   }
//   &--second {
//     background-color: var(--color-yellow);
//   }
//   @media (max-width: 767px) {
//     height: 24px;
//     font-size: 12px;
//   }
// }
