.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: center;
  a {
    font-size: 20px;
    font-weight: 400;
    color: #494746;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 767px) {
      font-size: 16px;
    }
  }
  .active {
    background-color: var(--color-yellow);
  }
  @media(max-width: 767px) {
	gap: 0;
	display: none;
  }
}

.pagination--mobile {
	display: flex;
	@media(min-width: 768px) {
		display: none;
	}
}
