.success {
	padding: 60px 0;
}

.success__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  text-align: center;
  .btn {
    height: 60px;
    @media (max-width: 767px) {
      height: 36px;
    }
  }
}

.success__head {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.success__title {
  font-size: 56px;
  font-weight: 500;
  @media (max-width: 767px) {
    font-size: 48px;
  }
}

.success__subtitle {
  font-size: 22px;
  font-weight: 400;
  @media (max-width: 767px) {
    font-size: 16px;
  }
}
