.team {
  padding-top: 120px;
  padding-bottom: 140px;
  overflow: hidden;
  @media (max-width: 767px) {
    padding-top: 40px;
    padding-bottom: 80px;
  }
  &--contact {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.team__slider {
  position: relative;
  .swiper {
    overflow: visible;
  }
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    left: -100%;
    z-index: 9;
  }
}

.team__slide {
  width: 356px;
  @media (max-width: 767px) {
    width: 300px;
  }
}

.team__title {
  margin-bottom: 73px;
  @media (max-width: 767px) {
    margin-bottom: 20px;
  }
}

.team__pic {
  margin-bottom: 12px;
}
.team__body {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.team__name {
  font-size: 24px;
  font-weight: 500;
  @media (max-width: 767px) {
    font-size: 16px;
  }
}

.team__text {
  font-size: 20px;
  @media (max-width: 767px) {
    font-size: 16px;
  }
}
