:root {
  --color-base: #1b1918;
  --color-yellow: #edcd51;
  --color-yellow2: #f2de01;
  --color-black: #1b1918;
  --color-yellow-02: rgba(237, 205, 81, 0.2);
  --color-grey: #f8f8f8;
  --color-blue: #5158ed;
  --color-labels: #fff;
  --color-black-bf: #1b1918;
}

$fontBase: "HelveticaNowDisplay", "sans-serif";
