:root {
  --color-base: #1b1918;
  --color-yellow: #edcd51;
  --color-black: #1b1918;
  --color-yellow-02: rgba(237, 205, 81, 0.2);
  --color-grey: #F8F8F8;
}

$fontBase: 'HelveticaNowDisplay', 'sans-serif'
