section.banner.banner--residence
	img.banner__back(src=require("../../images/back5.png"), alt="")
	.container 
		.banner__label
			.breadcrumbs 
				a(href="index.html")
					img(src=require("../../images/icn-home.svg"), alt="") 
				a(href="") Residences 
				a Residence #902
			h1.banner__title Residence #902