section.faq 
	.container
		h2.section-title.faq__title FAQ
		.faq__wrap.accordion-container 
			.ac 
				.ac-header 
					button.ac-trigger What is real estate investing?
				.ac-panel
					p.ac-text Real estate under investment is a form of investing funds in real estate for profit. This may involve buying, managing, developing and/or selling real estate in order to achieve financial growth and maximize return on investment.
			.ac 
				.ac-header 
					button.ac-trigger What is real estate investing?
				.ac-panel
					p.ac-text Real estate under investment is a form of investing funds in real estate for profit. This may involve buying, managing, developing and/or selling real estate in order to achieve financial growth and maximize return on investment.
			.ac 
				.ac-header 
					button.ac-trigger What is real estate investing?
				.ac-panel
					p.ac-text Real estate under investment is a form of investing funds in real estate for profit. This may involve buying, managing, developing and/or selling real estate in order to achieve financial growth and maximize return on investment.
			.ac 
				.ac-header 
					button.ac-trigger What is real estate investing?
				.ac-panel
					p.ac-text Real estate under investment is a form of investing funds in real estate for profit. This may involve buying, managing, developing and/or selling real estate in order to achieve financial growth and maximize return on investment.
			.ac 
				.ac-header 
					button.ac-trigger What is real estate investing?
				.ac-panel
					p.ac-text Real estate under investment is a form of investing funds in real estate for profit. This may involve buying, managing, developing and/or selling real estate in order to achieve financial growth and maximize return on investment.
			.ac 
				.ac-header 
					button.ac-trigger What is real estate investing?
				.ac-panel
					p.ac-text Real estate under investment is a form of investing funds in real estate for profit. This may involve buying, managing, developing and/or selling real estate in order to achieve financial growth and maximize return on investment.
			.ac 
				.ac-header 
					button.ac-trigger What is real estate investing?
				.ac-panel
					p.ac-text Real estate under investment is a form of investing funds in real estate for profit. This may involve buying, managing, developing and/or selling real estate in order to achieve financial growth and maximize return on investment.
			.ac 
				.ac-header 
					button.ac-trigger What is real estate investing?
				.ac-panel
					p.ac-text Real estate under investment is a form of investing funds in real estate for profit. This may involve buying, managing, developing and/or selling real estate in order to achieve financial growth and maximize return on investment.
			.ac 
				.ac-header 
					button.ac-trigger What is real estate investing?
				.ac-panel
					p.ac-text Real estate under investment is a form of investing funds in real estate for profit. This may involve buying, managing, developing and/or selling real estate in order to achieve financial growth and maximize return on investment.

		.faq__footer 
			span.faq__footer-title Headline for seo-text
			.faq__footer-text
				p Real estate is not just houses, apartments or commercial properties. It is the place where we live, work and develop. It is a space that provides comfort, security and coziness for each of us. In this section you will find everything related to real estate - from renting apartments to buying mansions, from investing in real estate to getting a mortgage loan. We offer you only proven and reliable options so that you can choose exactly what is right for you and your family. With us your real estate will become a reality!
				button.showText Show all