section.feedback 
	.container.feedback__container 
		.feedback__wrap 
			.feedback__block 
				h2.title-section.feedback__title Please, fill in the form below. This will help us to select for you the best matching offer.
				form.feedback__form(action="") 
			.feedback__author
				.feedback__author-pic
					img(src=require("../../images/pic8.png"), alt="")
				.fedback__label 
					.feedback__author-name Marika Zanoletti, Sales Director
					p.feedback__text Hi I'm Marika, and I will be happy to organise this tour for you. We can book a dinner, massage or a one-day ski pass for you. If you travel from abroad, we can also organise a transfer from Zürich Airport to Davos for you. Please, fill in the form, and I will contact you shortly.