footer.footer
	.container 
		.footer__wrap 
			.footer__top
				.footer__col 
					.foter__address Tobelmühlestrasse 2
					.footer__address2 CH‐7270 Davos Platz
					a.footer__tel(href="tel:+41788067045") +41 78 806 70 45
					a.footer__mail(href="mailto:45info@residencesathrhdavos.com") 45info@residencesathrhdavos.com
				nav.main-menu.main-menu__footer
					a(href="blog.html") Blog 
					a(href="calc.html") Calculator
					a(href="contacts.html") Contacts
					a(href="residence.html") Residences
					a(href="brochure.html") Brochure
					a(href="about.html") About
				div
					select.mySelect
						option EN 
						option FR 
						option DE 
				.footer__side
					.social.footer__social 
						a(href="")
							img(src=require("../../images/inst-w.svg"), alt="")
						a(href="")
							img(src=require("../../images/fb-w.svg"), alt="")
						a(href="")
							img(src=require("../../images/in-w.svg"), alt="")
					.footer__policy 
						a(href="") Privacy Policy
						a(href="") Cookie
						a(href="") Site Map

			.footer__bottom 
				p © The Residences Are Not Owned, Developed Or Sold By, Or Under Common Ownership Or Control With, Hard Rock Holdings Limited, Hard Rock Limited, Hard Rock Hotel Licensing, Inc. Or Hard Rock Café International (Usa) Inc., Or Any Of Their
				button.showText.showText--w Show all


.vectors 
	<svg id="icn-star" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.7826 3.45332C12.0131 2.98638 12.1283 2.75291 12.2848 2.67831C12.4209 2.61341 12.5791 2.61341 12.7152 2.67831C12.8716 2.75291 12.9869 2.98638 13.2174 3.45332L15.404 7.88328C15.4721 8.02113 15.5061 8.09006 15.5558 8.14358C15.5998 8.19096 15.6526 8.22935 15.7113 8.25662C15.7775 8.28742 15.8536 8.29854 16.0057 8.32077L20.897 9.03571C21.412 9.11099 21.6696 9.14863 21.7888 9.27444C21.8924 9.38389 21.9412 9.5343 21.9215 9.68377C21.8988 9.85558 21.7123 10.0372 21.3394 10.4004L17.8014 13.8464C17.6911 13.9538 17.636 14.0076 17.6004 14.0715C17.5689 14.128 17.5487 14.1902 17.5409 14.2545C17.5321 14.3271 17.5451 14.403 17.5711 14.5547L18.4059 19.4221C18.494 19.9355 18.538 20.1922 18.4553 20.3445C18.3833 20.477 18.2553 20.57 18.107 20.5975C17.9366 20.6291 17.7061 20.5078 17.2451 20.2654L12.8723 17.9658C12.7361 17.8942 12.668 17.8584 12.5962 17.8443C12.5327 17.8318 12.4673 17.8318 12.4038 17.8443C12.332 17.8584 12.2639 17.8942 12.1276 17.9658L7.75489 20.2654C7.29388 20.5078 7.06338 20.6291 6.89294 20.5975C6.74465 20.57 6.61669 20.477 6.54471 20.3445C6.46197 20.1922 6.50599 19.9355 6.59404 19.4221L7.42886 14.5547C7.45488 14.403 7.46789 14.3271 7.45909 14.2545C7.45129 14.1902 7.43108 14.128 7.39958 14.0715C7.36399 14.0076 7.30885 13.9538 7.19855 13.8464L3.66053 10.4004C3.28763 10.0372 3.10118 9.85558 3.0785 9.68377C3.05876 9.5343 3.10752 9.38389 3.21122 9.27444C3.3304 9.14863 3.58794 9.11099 4.10301 9.03571L8.99428 8.32077C9.14639 8.29854 9.22245 8.28742 9.28869 8.25662C9.34733 8.22935 9.40013 8.19096 9.44415 8.14358C9.49388 8.09006 9.5279 8.02113 9.59594 7.88328L11.7826 3.45332Z" fill="#EDCD51"/></svg>
