.header__main
	.header-menu-wrap 
		span Menu 
		button.menu-close 
			svg(width="24" height="24") 
				use(href="#icn-menu-close")
	nav.main-menu
		a(href="blog.html") Blog 
		a(href="calculator.html") Calculator
		a(href="contact.html") Contacts
		a(href="catalog.html") Residences
		a(href="" download) Brochure
		a(href="about.html") About
	.header__side
		a.header__tel(href="tel:+41 78 806 70 45") +41 &nbsp; 78&nbsp; 806&nbsp; 70&nbsp; 45
		button.btn.header__btn.showForm Send a request
	.lang
		.lang__current 
			span EN
		ul.lang__list
			li.lang__item 
				span EN
			li.lang__item 
				span DE
	ul.language-mobile 
		li.language-mobile__item
			span EN
		li.language-mobile__item
			span DE
