section.map
	include map
	.map__wrap.map__wrap--second.container 
		h2.section-title.map__wrap-title Location
		.map__wrap-text 
			p The Residences at the Hard Rock Hotel Davos occupy a central location in Davos Platz, close to the Promenade, the town’s most popular shops, restaurants, bars and night spots, which are all just moments away by foot.
			p Davos is rich in cultural offering of art galleries, museums and a theatre together with a catching programme of events and music festivals.
