section.news.news--article 
	.container 
		.news__wrap.news__wrap--article 
			.news__head
				h2.section-title News & Events
				a.btn.btn--black(href="").news__head-btn More news 
			.swiper.news__slider.news__slider--article#news-slider-2
				.swiper-wrapper 
					.swiper-slide.news__slide.preview-block 
						.news__slide-pic
							.btn-actions
								button.btn-heart(data-count="0") 
									svg(width="32" height="32")
										use(href="#icn-heart")
								button.btn-share.shareShow 
									svg(width="32" height="32")
										use(href="#icn-share")

								.share 
									span Share 
									button.share__close 
										svg(width="24" height="24") 
											use(href="#icn-close")
									.share__btns 
										button.copy.btn.btn--first Copy link
										a.fb-share(href="")
											svg(width="32" height="32")
												use(href="#icn-fb")
										a.x-share(href="") 
											svg(width="32" height="32")
												use(href="#icn-x")
										a.in-share(href="")  
											svg(width="32" height="32")
												use(href="#icn-in")
							.grid-item__label
								a(href="") News
								a(href="") Tourism
							img(src=require("../../images/pic20.png") alt="")
						a.preview-link(href="article.html").news__slide-name Snowboarding at the resort: where to learn new tricks and have fun
						p.news__slide-text Unwind at Rock Spa速, an 800-square-meter oasis featuring two saunas, a steam room, swimming pool, whirlpool, ice fountain and experience shower
					.swiper-slide.news__slide.preview-block 
						.news__slide-pic
							.btn-actions
								button.btn-heart(data-count="0") 
									svg(width="32" height="32")
										use(href="#icn-heart")
								button.btn-share.shareShow 
									svg(width="32" height="32")
										use(href="#icn-share")

								.share 
									span Share 
									button.share__close 
										svg(width="24" height="24") 
											use(href="#icn-close")
									.share__btns 
										button.copy.btn.btn--first Copy link
										a.fb-share(href="")
											svg(width="32" height="32")
												use(href="#icn-fb")
										a.x-share(href="") 
											svg(width="32" height="32")
												use(href="#icn-x")
										a.in-share(href="")  
											svg(width="32" height="32")
												use(href="#icn-in")
							.grid-item__label
								a(href="") News
								a(href="") Tourism
							img(src=require("../../images/pic7.png") alt="")
						a.preview-link(href="article.html").news__slide-name Top 3 best snowboarding slopes at your nearest resort
						p.news__slide-text Unwind at Rock Spa速, an 800-square-meter oasis featuring two saunas, a steam room, swimming pool, whirlpool, ice fountain and experience shower
					.swiper-slide.news__slide.preview-block 
						.news__slide-pic
							.btn-actions
								button.btn-heart(data-count="0") 
									svg(width="32" height="32")
										use(href="#icn-heart")
								button.btn-share.shareShow 
									svg(width="32" height="32")
										use(href="#icn-share")

								.share 
									span Share 
									button.share__close 
										svg(width="24" height="24") 
											use(href="#icn-close")
									.share__btns 
										button.copy.btn.btn--first Copy link
										a.fb-share(href="")
											svg(width="32" height="32")
												use(href="#icn-fb")
										a.x-share(href="") 
											svg(width="32" height="32")
												use(href="#icn-x")
										a.in-share(href="")  
											svg(width="32" height="32")
												use(href="#icn-in")
							.grid-item__label
								a(href="") News
								a(href="") Tourism
							img(src=require("../../images/pic7.png") alt="")
						a.preview-link(href="article.html").news__slide-name Snowy peaks: features and benefits of snowboarding in a ski resort
						p.news__slide-text Unwind at Rock Spa速, an 800-square-meter oasis featuring two saunas, a steam room, swimming pool, whirlpool, ice fountain and experience shower
					.swiper-slide.news__slide.preview-block 
						.news__slide-pic
							.btn-actions
								button.btn-heart(data-count="0") 
									svg(width="32" height="32")
										use(href="#icn-heart")
								button.btn-share.shareShow 
									svg(width="32" height="32")
										use(href="#icn-share")

								.share 
									span Share 
									button.share__close 
										svg(width="24" height="24") 
											use(href="#icn-close")
									.share__btns 
										button.copy.btn.btn--first Copy link
										a.fb-share(href="")
											svg(width="32" height="32")
												use(href="#icn-fb")
										a.x-share(href="") 
											svg(width="32" height="32")
												use(href="#icn-x")
										a.in-share(href="")  
											svg(width="32" height="32")
												use(href="#icn-in")
							.grid-item__label
								a(href="") News
								a(href="") Tourism
							img(src=require("../../images/pic7.png") alt="")
						a.preview-link(href="article.html").news__slide-name Top 3 best snowboarding slopes at your nearest resort
						p.news__slide-text Unwind at Rock Spa速, an 800-square-meter oasis featuring two saunas, a steam room, swimming pool, whirlpool, ice fountain and experience shower
				.swiper-button-prev 
				.swiper-button-next
