.popup.popupMore.overlay 
	.popup__wrap 
		.popup__container
			button.popup__close.close
				img(src=require("../../images/cross.svg"), alt="")
			h3.popup__head More invest information
			.popup__text 	
				p Investing in Swiss property among other things implies gaining profit from renting it out. In fact, property owners are expected to rent it out since Switzerland has a unique tax on imputed rental value. Demand for rent in Switzerland where only 40% own their homes is incredibly high, especially for 120 sq. m. apartments in the most popular locations. The supply, on the other hand, is very short — only 0.45% of the rental property at most is available for rent at any given time.
				p Davos — the world famous all-year-round Alpine holiday destination — is only 2 hours away from Zurich but no less popular with visitors, especially when thousands of global politicians, star celebrities, and business elite come together for the World Economic Forum. During that time, a short supply of quality accommodation becomes especially obvious. Prices skyrocket, bringing property owners’ incomes comparable with those for the rest of the year! But even at what would have been an off-season for other major Alpine destinations of France, Austria, or Italy, Davos property generates stable annual gross rental yields of around 3.10% of the property purchase price. The figure comfortably leaves behind those of Switzerland’s Alpine neighbours — Austria and France.
			h4.popup__title Comparison with neighbours
			.popup__text
				p All other things being equal, ROI is higher. Relatively average profitability in Europe, but higher than in Austria and France, direct competitors in the Alps region.
		img.popup__pic(src=require("../../images/pic16.png"), alt="")
		.popup__container.popup__footer
			a.btn.btn--first.popup__btn(href="calculator.html") Mortgage calculator