extends layout
block main 
	main
		section.main-block
			.author
		section.author-block.after-main
			.author__pic 
				img(src=require("../images/brend2.svg"), alt="")
			.container 
				.author-block__content 
					h1.author-block__title Team Hard Rock
					.author-block__text 
						p Utilising expert and considered design, the Residences have been created to prioritise comfort and relaxation, whilst being a profitable investment.
						p The Residences at the Hard Rock Hotel Davos – are ready to live Alpine apartments managed by Hard Rock Hotel Davos, Switzerland.
						p Only seven of these unique apartments are left and available to purchase, designed by architectural studio Woods Bagot.
						p Owners of the Residences benefit from exclusive access to all hotel services and generate profit from the impressive rental programme up to 50’000 CHF annually.
					a.btn.btn--first.author__btn(href="index.html") Back main page 

