doctype html
html(lang="en")
	include /modules/head
	body

		.wrapper
			include /modules/header-light
			main
				section.calc
					.container
						.breadcrumbs 
							a(href="index.html")
								img(src=require("../images/icn-home.svg"), alt="") 
							a Calculator 
						h1.section-title.calc__title Calculator
						.calc__steps 
							span.calc__step.active Details
							span.calc__step Results
							span.calc__step Contact
							span.calc__step Confirmation

						.calc__wrap 
							.calc__body 
								h3.calc__body-title Enter details of your property and mortgage
								.calc__qs 
									.calc__q 
										h3.calc__q-title What do you wish to do?
										fieldset 
											legend Mortgage requirement*
											.calc__q-input
												input(type="radio" id="r1" name="r1")
												label(for="r1") Take out a new mortgage
											.calc__q-input
												input(type="radio" id="r2" name="r1")
												label(for="r2") Take out a new mortgage
									.calc__q 
										h3.calc__q-title What do you wish to do?
										fieldset 
											legend Mortgage requirement*
											.calc__q-input
												input(type="radio" id="r3" name="r2")
												label(for="r3") Take out a new mortgage
											.calc__q-input
												input(type="radio" id="r4" name="r2")
												label(for="r4") Take out a new mortgage
									.calc__q.disabled 
										h3.calc__q-title What do you wish to do?
										fieldset 
											legend Mortgage requirement*
											.calc__q-input
												input(type="radio" id="r5" name="r3")
												label(for="r5") Take out a new mortgage
											.calc__q-input
												input(type="radio" id="r6" name="r3")
												label(for="r6") Take out a new mortgage
								.calc__btns 
									button.btn.btn--default Prev.
									button.btn.btn--black  Next
							.calc__side 
								.calc__side-block 
									span.calc__side-title Property
									ul.calc__list 
										li 
											span Requirement:
											span Take out a new mortgage
										li
											span Use:
											span Investment property
										li
											span Property type:
											span Multi-family house
										li
											span Postcode / place name:
											span 1232 Confignon (GE) Confignon
								.calc__side-block 
									span.calc__side-title Financing
									ul.calc__list 
										li 
											span Purchase price:
											span  2’344’442

			include /modules/footer

