extends layout
block main 
	main.error-page
		.banner-error
		.banner-error__block 
			h1.banner-error__title 404
			span.banner-error__subtitle The page was not found or was lost
			a.btn.btn--first Back main page
